<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="src/css/discover.css">
    <title>Discover</title>
</head>
<body>
    <div class="discover-section">
        <div class="discover-animanga">
            <a href="discover_anime.html" class="discover-anime">
                <div class="label">Anime <span class="arrow">⇒</span></div>
            </a>
            <div class="discover-manga">
                <div class="label">Manga <span class="arrow">⇒</span></div>
            </div>
        </div>
    </div>
</body>
</html>
