<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="src/css/header.css">
        <title>Header</title>
    </head>
    <body>
        <div class="header-wrapper">
            <div class="main-header">
                <div class="main-header-quote">
                    <p>Explore the latest in anime and manga.</p>
                    <p>Start your adventure <span class="highlight">TODAY!</span></p>
                </div>
            </div>
        </div>
        
    </body>
</html>
