<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="src/css/navbar.css">
    <title>Navbar</title>
</head>
<body>
    <div class="navbar-wrapper">
        <div class="navbar">
            <a  href="index.html" class="logo-container">
                <span class="logo-star">⭐</span>
                <span class="logo">AniFind</span>
            </a>
            <div class="nav-links">
                <div class="search-container">
                    <input type="text" class="search-input" placeholder="Search...">
                    <button class="search-button"><ion-icon name="search"></ion-icon></button>
                </div>
                <a href="#" class="nav-button">Random</a>
                <a href="#" class="source-button"><ion-icon name="logo-github"></ion-icon>Source</a>
            </div>
        </div>
    </div>
    <script src="src/js/navbar.js"></script>
</body>
</html>
